<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.89.53.19)(PORT=1522)) (CONNECT_DATA=(SERVICE_NAME=YELLOW)));User ID=LongCheerMES_QA;Password=oracle;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>-->
  <appSettings>
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.89.53.19)(PORT=1522)) (CONNECT_DATA=(SERVICE_NAME=YELLOW)));User ID=LongCheerMES_QA;Password=oracle;Unicode=True"/>
    <add key="connectionstring2" value="User Source=.;Password=123456;Initial Catalog=test;Provider=SQLOLEDB.1;" />
  </appSettings>
</configuration>